html, body {
    height: 100% !important;
    font-family: 'Roboto', sans-serif!important;
    font-size: 1.2rem!important;
    margin: 0;
    padding: 0;
    background: url("../images/bg.png") repeat;
}

nav {
    height: 70px!important;
    line-height: 70px!important;
}

.sidenav-trigger {
    top: 10px;
}

.hide-on-med-and-down .navbar-fixed .brand-logo {
    padding-right: 40px!important;
}

.hide-on-med-and-down .brand-logo, .brand-logo div {
    height: 100% !important;
    top: 12px!important;
}

.hide-on-large-only .brand-logo {
    height: 100% !important;
    top: 7px!important;
}

.hide-on-large-only nav {
    line-height: 30px!important;
}

.hide-on-large-only img {
    height: 40px;
}

.hide-on-large-only .team-name {
    height: 20px!important;
    font-size: 1rem;
    display: block;
    position: absolute;
    left: 36%;
    top: 58%;
}

#content-section {
    padding: 0!important;
    overflow: hidden!important;
}

.home-background {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../images/home-small-dark.png") center;
    background-size: cover;
    background-position-y: 40%;
}

#home .center-align {
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateY(20%);
    padding: 20px;
    border-radius: 50px;
}

#home .project-title {
    font-size: 1.5rem!important;
    padding-bottom: 20px!important;
    font-weight: 100!important;
    color: white;
}

#home .project-desc-title {
    font-size: 1.3rem!important;
    font-weight: 100!important;
    color: white;
}

#home .project-desc {
    font-size: 1.1rem!important;
    font-weight: 400!important;
    text-align: justify!important;
    color: white;
}

.sidenav li a {
    color: white!important;
    font-size: 1.1rem!important;
    font-weight: 400!important;
}

li .active, .sidenav li .active {
    font-weight: 900;
    color: dodgerblue!important;
}

.hide-on-med-and-down .team-name {
    position: absolute;
    left: 44.5%;
}

.team-name a:hover {
    background-color: transparent!important;
    text-decoration: none!important;
}

.hide-on-med-and-down .team-name a {
    font-weight: 500;
    font-size: 1.2rem!important;
}

#nav-mobile {
    padding-left: 20px;
    font-weight: 100;
}

.team-member-name {
    font-weight: 600;
}

.team-member-title {
    font-weight: 400;
    font-size: 1rem!important;
}

.team-member-email {
    font-weight: 500;
    font-size: 1rem!important;
}

.team-member-email span {
    color: black!important;
}

.divider {
    height: 1px!important;
    margin: 10px;
}

.banner {
    background-color: teal;
    color: white;
    height: fit-content;
    font-size: 2rem!important;
    margin-bottom: 40px;
}

.section {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

#content-section #home {
    min-height: 100vh!important;
}

#content-section .scrollspy {
    min-height: 90vh!important;
}

#content-section #team {
    padding-top: 50px;
}

.mentor-title {
    font-size: 1.3rem!important;
    font-weight: 600!important;
    padding-bottom: 10px;
}

.mentor-card {
    margin: 0!important;
}

#mentors .flow-text {
    text-align: justify;
    font-size: 1rem!important;
}

.team-member-title {
    padding-bottom: 10px;
}

.fa-envelope {
    padding-right: 3px!important;
}

table td {
    font-size: 1rem!important;
}

.completed {
    color: green;
}

.inprogress {
    color: blue;
}

.notStarted {
    color: orange;
}

.pending {
    color: red;
}

@media only screen and (max-width: 768px) {
    #content-section #mentors {
        min-height: 80vh!important;
    }
}

@media only screen and (max-width: 600px) {
    #content-section #mentors {
        min-height: 230vh !important;
    }

    #content-section #home {
        min-height: 130vh!important;
    }

    .mentor-title {
        font-size: 1.1rem!important;
    }

    .mentor-card .flow-text {
        font-size: 1rem!important;
    }

    #home .project-title {
        font-size: 1.2rem!important;
    }

    #home .project-desc-title {
        font-size: 1.1rem!important;
    }

    #home .project-desc {
        font-size: 1rem!important;
    }
}

@media only screen and (max-width: 360px) {
    #content-section #home {
        min-height: 160vh!important;
    }
}